@charset "UTF-8";
:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(to right, hsl(187,
              85%, 43%), hsl(199, 100%, 33%));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 240);
  --cardBG: rgb(235, 235, 235);
}

.main {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: var(--whiteColor);
}
.main select {
  color: var(--whiteColor);
  /* yazı rəngi */
  border-radius: 6px;
  padding: 8px 12px;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  /* bəzi brauzerlərdə standart oxu gizlətmək üçün */
}
.main select option {
  color: var(--blackColor);
}
.main .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.main video {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .mainContent {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  padding: 8rem 1.5rem 3rem;
  display: flex;
  row-gap: 3rem;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin: auto;
  color: var(--whiteColor);
  z-index: 100;
}
.main .mainContent .textDiv {
  padding: 2rem 0;
}
.main .mainContent .textDiv .smallText {
  font-size: 13px;
  text-transform: uppercase;
}
.main .mainContent .textDiv .mainTitle {
  position: relative;
  font-size: 1.8rem;
}
.main .mainContent .mainFooterIcons {
  width: 100%;
  justify-content: space-between;
  position: relative;
  bottom: -50px;
}
.main .mainContent .mainFooterIcons .icon {
  font-size: 25px;
  margin: 0 5px;
  color: var(--whiteColor);
}
.main .mainContent .mainFooterIcons .icon:hover {
  color: var(--PrimaryColor);
}

.headerBtn {
  background: var(--gradientColor);
  color: var(--whiteColor);
  font-weight: 500;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}
.headerBtn:hover {
  background: var(--PrimaryColor);
}

.headerSearch {
  width: 100%;
  border: 3px solid var(--PrimaryColor);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  border-radius: 5px;
  gap: 0px;
  left: 0;
}
.headerSearch input {
  color: var(--whiteColor);
}

.headerIcon {
  color: var(--inputColor);
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 5px;
}

.headerSearchInput {
  border: none;
  outline: none;
  background: transparent;
}
.headerSearchInput::-moz-placeholder {
  color: var(--inputColor);
}
.headerSearchInput::placeholder {
  color: var(--inputColor);
}

.headerSearchText {
  cursor: pointer;
  margin-left: 10px;
}

.date {
  position: absolute;
  top: 58px;
  z-index: 2;
  border-radius: 5px;
}

.options {
  z-index: 2;
  position: absolute;
  top: 58px;
  background: var(--whiteColor);
  color: var(--blackColor);
  border-radius: 5px;
  -wepkid-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color: #0071c2;
  cursor: pointer;
  background: white;
}

@media screen and (max-width: 480px) {
  .headerSearch {
    position: relative;
    padding: 5px;
    width: 100%;
  }
  .headerBtn {
    position: absolute;
    bottom: -33px;
    left: 45%;
  }
  .headerIcon {
    display: none;
  }
  .rdrDateDisplayWrapper {
    width: 220px !important;
  }
  .rdrMonthAndYearPickers {
    width: 10px;
  }
  .rdrMonths {
    width: 100px;
  }
  .rdrMonth {
    font-size: 10px;
  }
  .rdrWeekDays {
    font-size: 10px;
    width: 200px;
  }
  .rdrDays {
    width: 200px;
  }
  .rdrNextPrevButton,
  .rdrNextButton {
    width: 100px;
  }
  .headerSearchInput {
    width: -moz-max-content;
    width: max-content;
    padding: 0;
    margin: 0;
  }
}
.options > * {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  width: 100px;
}

@media screen and (min-width: 500px) {
  .main .mainContent .textDiv .smallText {
    font-size: 16px;
  }
  .main .mainContent .textDiv .mainTitle {
    position: relative;
    font-size: 2.3rem;
    width: -moz-max-content;
    width: max-content;
  }
  .main .mainContent .textDiv .mainTitle::after {
    position: absolute;
    content: "";
    background: var(--SecondaryColor);
    height: 5px;
    width: 145px;
    right: 0;
    bottom: 5px;
    z-index: -1;
  }
  .main .mainContent .cardDiv {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 660px) {
  .main .mainContent .cardDiv {
    padding: 2rem 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 940px) {
  .main {
    height: 85vh;
  }
}
@media screen and (min-width: 1240px) {
  .main {
    height: 95vh;
  }
  .main .mainContent {
    padding-left: 0;
    padding-right: 0;
  }
  .main .mainContent .cardDiv {
    padding: 2rem 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .main .mainContent .cardDiv .input {
    margin-bottom: 1rem;
  }
  .main .mainContent .cardDiv .searchOptions {
    bottom: -1rem;
    padding: 8px 1rem;
  }
  .main .mainContent .cardDiv .searchOptions span {
    font-size: 17px;
  }
}/*# sourceMappingURL=Main.css.map */